<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /react_laravel/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /react_laravel/index.html [L]
</IfModule>